<!DOCTYPE html>
<html ng-app="bloggerApp">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/bundle.js'></script>
  </head>
  <body ng-view>
    {{{body}}}
  </body>
</html>
